body{
margin:64px;
text-align: center;
font-family:"Georgia";
font-size:32px;
color:#FFFFFF;
line-height:1.5;
background:#000000;
}
p{
text-align: justify;
text-indent: 64px;
}
h2{
margin:64px;
text-align: center;
font-family:"Georgia";
font-size:32px;
line-height:1.5;
color:#AAAAAA;
background:#222222;
}
.button{
text-align: center;
color:#AAAAAA;
border:#888888 0px solid;
border-radius:3px;
padding:8px 12px;
margin-top:16px;
background:#222222;
text-decoration: none;
line-height:2;
white-space: nowrap;
}
.button:hover{
background:#121212;
color:#9A9A9A;
white-space: nowrap;
}
@media (max-width: 1000px){
body{
margin:32px;
font-size:24px;
line-height:1.15;
}
h2{
margin:32px;
font-size:24px;
line-height:1.15;
}
.button{
border-radius:3px;
padding:5px 9px;
margin-top:12px;
}
}