body{
	background-color:#fec;
	margin:0px;
	padding:0px;
	font-size:24px;
	font-family: Times, serif;
	}

.page{
	margin:32px;
	padding:32px;
	text-align:center;
	color:#000;
	background-color:#fff;
	}

h1{
	font-size:32px;
	}

h2{
	font-size:64px;
	line-height:1.15;
	animation-iteration-count:infinite;
	animation-duration:3s;
	animation-name:lmaoxd;
	animation-timing-function:linear;
	}

h3{
	font-weight: normal;
	font-size: 24px;
	}

h4{
	font-size: 24px;
	}

p{
	text-align: justify;
	text-indent: 32px;
	}

@keyframes lmaoxd {
	0%{transform:rotateY(0deg);}
	50%{transform:rotateY(180deg);}
	100%{transform:rotateY(0deg);}
	}

a{
	text-decoration:none;
	color: #000000;
	background-color: #fff;
	border-style: solid;
	border-color: #eee #aaa #aaa #eee; /*Because "border-style: outset;" doesn't render consistently across browsers*/
	font-size: 24px;
	font-family: serif;
	line-height: 1;
	margin: 1px;
	font-family: Times, serif;
	border-width: 4px;
}

a:hover{
	background-color:#cceeff;
	border-color:#aaccee;
}

a:active{
	border-style:inset;
}

footer{
	padding:16px;
	background-color:#222;
	color:#fff;
	position:fixed;
	width:calc(100% - 32px);
	bottom:0px;border-style:none;
	}

@media (max-width: 1000px){
body{font-size:16px;}
.page{margin:0px;}
h1{font-size:24px;}
h2{font-size:32px;}
h3{font-size:16px;}
h4{font-size:16px;}
button{font-size:16px;margin: 0px;}
footer{padding:16px;width:100%;}
}